# Virtual environments
.venv/
env/
venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Large datasets and checkpoints
# Streamlit should load only the final models.
datasets/*.csv
datasets/*.npy
checkpoints/*
!checkpoints/*.pth
!checkpoints/*.pkl

# Logs
*.log

# Pandoc and Temp files
pandoc-3.1.11.1-linux-amd64.tar.gz
pandoc-3.1.11.1/
conversion_log.txt
test_file.txt
venv_size.txt
